* {
    -webkit-font-smoothing: antialiased;
  }

.login-form {
    background: #fff;
    width: 500px;
    margin: 200px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(255, 56, 96, 0.8);
}
  .login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
    color:rgb(255,56,96);
  }
  .login-form .content {
    padding: 35px;
    text-align: center;
  }
  .login-form .input-field {
    padding: 12px 5px;
  }
    .login-form .input-field input {
        font-size: 16px;
        display: block;
        font-family: 'Rubik', sans-serif;
        width: 100%;
        max-width: 300px;
        padding: 5px 1px;
        border: 0;
        border-bottom: 1px solid #747474;
        outline: none;
        -webkit-transition: all .2s;
        transition: all .2s;
        text-align: center;
        margin: 0 auto;
    }
  .login-form .input-field input:focus {
    border-color: #222;
  }
  .login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    padding: 20px 0 20px 0;
    cursor: pointer;
    justify-self: center;
    margin: auto;
}
.login-form .action #Button1, .login-form .action #Button2{
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: rgb(161, 18, 18);
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
#Update ,#Delete{
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: rgb(161, 18, 18);
    color: #fff;
    border-bottom-left-radius: 4px;

    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    
}
#Delete {
    border-radius:0;
    border-bottom-right-radius: 4px;
}
    #Update:hover, #Delete:hover , #AddNew:hover{
        background: rgb(255,20,20);
    }
    .login-form .action #Button1:hover, .login-form .action #Button2:hover {
        background: rgb(255,20,20);
    }
.login-form #msg, .login-form #msg2 {
    color: rgb(255,20,20);
    font-family: 'Rubik', sans-serif;
    align-self:center;
}
.login-form #msg3, .login-form #msg4 {
    color: green;
    font-family: 'Rubik', sans-serif;
    align-self: center;
}
#AccountType {
    color: black;
    font-family: 'Rubik', sans-serif;
}
.messages{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.login-form h3, .login-form h2 {
    color: rgb(255,56,96);
}
#AddNew {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: rgb(161, 18, 18);
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.input-field div{
    display:flex;
    justify-content:center;
    position: relative;
    margin:20px 0;
}

    .input-field div p {
        position: absolute;
        bottom: 5px;
        right:30%;
        color: rgb(161, 18, 18);
    }
.ddl {
    border-radius: 5px;
    width: 200px;
    border: 1px solid rgb(161, 18, 18);
    outline: none;
    color: rgb(161, 18, 18);
    text-align:center;
    background-color: transparent;
}
.inputd{
    display : flex;
    justify-content : center;
    align-content: center;
    margin: 70px;
}
.inputd *{
    margin: 20px;
}
    .inputd input {
        outline:none;
        border:0;
        border-bottom:1px solid white;
        background-color:transparent;
        color: white;
        text-align:center;
        
    }
    .inputd input:focus{
        border-color:  rgb(243, 91, 33);       
    }
.drpdown {
    border-radius: 5px;
    width: 100px;
    border: 1px solid white;
    outline: none;
    color: white;
    text-align: center;
    background-color: black;
}
#calc{
    margin: auto 20px;
}
.ppldtl{
      display: flex;
      justify-content:center;

}
.ppldtl div{
    display:flex;
    align-items:center;
    flex-direction:column;
    margin : 70px;
}
    .ppldtl div *{
        
        margin: 20px;
    }
.inputc{
    display:flex;
    justify-content:center;
}
.inputc * {
    margin :50px;
}